{% extends "base.html" %}

{% block content %}
<h1 class="heading">Добавить новый проект</h1>
<form action="" method="GET" class="form row g-3">
        <div class="col-12">
            <p class="label">Название</p>
            <input type="text" name="title" id="title" class="form-control" placeholder="Название">
        </div>
        <div class="col-12">
            <p class="label">Описание</p>
            <input type="text" name="content" id="content" class="form-control" placeholder="Описание">
        </div>
        <button type="submit" class="btn btn-outline-dark">Опубликовать</button>
    </form>

{% endblock %}