{% extends "base.html" %}

{% block content %}

{% for a in args %}
    <div class="card" style="width: 60%;">
      <div class="card-header">
        {{ names[a.user_id] }}, {{ a.created_date }}
      </div>
      <div class="card-body" style="display: flex; flex-direction: column;">
        <h5 class="card-title"><a href="/p/{{ a.id }}" style="color: #212529; text-decoration: None;">{{ a.title }}</a></h5>
        <p class="card-text">{{ a.content }}</p>\
        <img src="{{ a.img }}" style="width: 50%; margin-bottom: 15px;">
        <div style="display: flex; flex-direction: row;">
            {% for tag in a.tags.split('; ') %}
            <a href="#" class="btn btn-primary" style="width: 20%; margin-right: 10px;">{{ tag }}</a>
            {% endfor %}
            {% if a.user_id == current_user.id %}
            <a href="/delete_post/{{ a.id }}" class="btn btn-danger" style="width: 20%; margin-right: 10px;">
                Удалить пост
            </a>
            {% endif %}
        </div>

      </div>
    </div>
{% endfor %}

{% endblock %}